html{
    background-color: darkgray;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
body{
    margin: 0;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.main-img{    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.sect{
    margin-left: 10%;
    margin-right: 10%;
}

.sect h3{
    text-decoration: underline;
}

